.contact__item {
  border-bottom: 1px solid rgb(70, 70, 70);
  width: 600px;
}

.contact__name {
  width: 600px;
  font-size: 22px;
  font-weight: 600;
}

.contact__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__btn {
  margin-left: 10px;
  min-width: 80px;
  padding: 10px;
  border: 1px outset rgb(70, 70, 70);
  border-radius: 5px;

  text-transform: uppercase;
  font-size: 14px;
  background-color: rgb(24, 24, 24);
  color: #fff;
}

.contact__btn:hover {
  cursor: pointer;
  background-color: #bebebe;
  color: #000;
}

.contact__btn:active {
  background-color: #fff;
}
