.filter__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter__input {
  box-sizing: border-box;
  margin-bottom: 20px;
  min-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 5px;
  padding-left: 10px;
  height: 35px;
  font-size: 18px;
  border-radius: 5px;
}
