.phoneBook__form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-bottom: 50px;
}

.phoneBook__label {
  margin-bottom: 10px;
}

.phoneBook__input {
  box-sizing: border-box;
  min-width: 100%;
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  background-color: rgb(214, 225, 255);
  margin-top: 5px;
  padding-left: 10px;
  height: 35px;
  font-size: 18px;
}

.phoneBook__btn {
  margin-top: 10px;
  min-width: 95px;
  height: 40px;
  padding-bottom: 5px;
  border: 1px ridge rgb(70, 70, 70);
  border-radius: 5px;

  text-transform: uppercase;
  vertical-align: text-top;
  font-size: 14px;
  background-color: rgb(24, 24, 24);
  color: #fff;
}

.phoneBook__btn:hover {
  cursor: pointer;
  background-color: #bebebe;
  color: #000;
}

.phoneBook__btn:active {
  background-color: #fff;
}
